<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>動画再生ページ</title>
</head>
<body>
    <h1>動画再生ページ</h1>
    <label for="videoSelect">動画を選択してください：</label>
    <select id="videoSelect">
        <option value="/static/春奈るな%20『純真クライシス』.mp4">春奈るな%20『純真クライシス』</option>
        <option value="/static/春奈るな 『Fly Me to the Moon』.mp4">春奈るな 『Fly Me to the Moon』</option>
        <option value="/static/春奈るな 『ルパとアリエス』.mp4">春奈るな 『ルパとアリエス』</option>
        <option value="/static/春奈るな 『NAKED HEART』.mp4">春奈るな 『NAKED HEART』</option>
    </select>
    <button id="playButton">再生</button>

    <video id="videoPlayer" width="600" controls>
        <source id="videoSource" src="" type="video/mp4">
        お使いのブラウザでは動画の再生がサポートされていません。
    </video>

    <script>
        document.getElementById('playButton').addEventListener('click', function() {
            var selectedVideo = document.getElementById('videoSelect').value;
            var videoSource = document.getElementById('videoSource');
            videoSource.src = selectedVideo;
            document.getElementById('videoPlayer').load();
            document.getElementById('videoPlayer').play();
        });
    </script>
</body>
</html>
