<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 Shot∞</title>
</head>
<body>
    <h1>2 Shot∞</h1>
    <p>2 Shot∞は配信者と視聴者で一緒に写真が撮れるアプリ、印刷するとメッセージやサインが入っているヨ！</p>
    スマホは横向きで利用してね
    <table>
        <tr>
            <td><a href="https://8xtcsnt2-5000.asse.devtunnels.ms/pub"><img src="/static/pub.png" alt="Pub Image"></a></td>
            <td></td>
            <td><a href="https://8xtcsnt2-5000.asse.devtunnels.ms/sub"><img src="/static/sub.png" alt="Sub Image"></a></td>
        </tr>
        <tr>
            <td><a href="https://8xtcsnt2-5000.asse.devtunnels.ms/pub">https://8xtcsnt2-5000.asse.devtunnels.ms/pub</a></td>
            <td></td>
            <td><a href="https://8xtcsnt2-5000.asse.devtunnels.ms/sub">https://8xtcsnt2-5000.asse.devtunnels.ms/sub</a></td>
        </tr>
        <tr>
            <td>配信者向けアプリ</td>
            <td></td>
            <td>視聴者向けアプリ</td>
        </tr>
    </table>
</body>
</html>
