<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 Shot∞</title>
</head>
<body>
    <h1>2 Shot∞<</h1>
    <table>
        <tr>
            <td><img src="/static/pub.png" alt="Pub Image"></td>
            <td></td>
            <td><img src="/static/sub.png" alt="Sub Image"></td>
        </tr>
        <tr>
            <td><a href="https://8xtcsnt2-5000.asse.devtunnels.ms/pub">https://8xtcsnt2-5000.asse.devtunnels.ms/pub</a></td>
            <td></td>
            <td><a href="https://8xtcsnt2-5000.asse.devtunnels.ms/sub">https://8xtcsnt2-5000.asse.devtunnels.ms/sub</a></td>
        </tr>
        <tr>
            <td>配信者用のサイト</td>
            <td></td>
            <td>利用者向けのサイト</td>
        </tr>
    </table>
</body>
</html>
