<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2 Shot∞</title>
    <script src="//cdn.webrtc.ecl.ntt.com/skyway-4.4.5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils"></script>
    <style>
        .wrapper {
            display: flex;
            align-items: flex-start;
        }
        .container {
            position: relative;
            width: 500px; /* コンテナ全体の幅を500pxに設定 */
            margin-right: 20px; /* 右側の余白を設定 */
        }
        #js-remote-stream, #js-foreground-canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; /* 幅を100%に設定 */
            height: auto; /* 高さを自動調整 */
        }
        #js-local-stream, #js-local-canvas {
            display: none;
        }
        .heading {
            color: pink; /* h1の色をピンクに設定 */
        }
        .my-control {
            margin-left: 10px;
            height: 25px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1 class="heading">2 Shot∞</h1>
            <video id="js-remote-stream"></video>
            <canvas id="js-foreground-canvas"></canvas>
            <video id="js-local-stream" muted></video>
            <canvas id="js-local-canvas"></canvas>
        </div>
        <div class="controls">
            <input class="my-control" type="text" placeholder="接続ID" id="js-remote-id" value="enkaku">
            <button class="my-control" id="js-connect-trigger">接続</button>
            <button class="my-control" id="js-print-trigger">印刷</button>
        </div>
    </div>
    <script>
        const Peer = window.Peer;

        (async function main() {
            const localVideo = document.getElementById('js-local-stream');
            const localCanvas = document.getElementById('js-local-canvas');
            const foregroundCanvas = document.getElementById('js-foreground-canvas');
            const remoteVideo = document.getElementById('js-remote-stream');
            const remoteId = document.getElementById('js-remote-id');
            const connectTrigger = document.getElementById('js-connect-trigger');
            const printTrigger = document.getElementById('js-print-trigger');
            const context = localCanvas.getContext('2d');
            const foregroundContext = foregroundCanvas.getContext('2d');

            const localStream = await navigator.mediaDevices.getUserMedia({ audio: true, video: true }).catch(console.error);
            localVideo.srcObject = localStream;
            localVideo.playsInline = true;
            await localVideo.play().catch(console.error);

            const selfieSegmentation = new SelfieSegmentation({
                locateFile: (file) => `https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation/${file}`
            });

            selfieSegmentation.setOptions({
                modelSelection: 1,
            });

            selfieSegmentation.onResults((results) => {
                context.clearRect(0, 0, localCanvas.width, localCanvas.height);
                foregroundContext.clearRect(0, 0, foregroundCanvas.width, foregroundCanvas.height);

                // マスクを描画
                context.drawImage(results.segmentationMask, 0, 0, localCanvas.width, localCanvas.height);

                // グリーンバックの処理
                context.globalCompositeOperation = 'source-in';
                context.drawImage(localVideo, 0, 0, localCanvas.width, localCanvas.height);

                context.globalCompositeOperation = 'destination-over';
                context.fillStyle = '#00FF00';
                context.fillRect(0, 0, localCanvas.width, localCanvas.height);

                // 前景の処理
                foregroundContext.globalCompositeOperation = 'copy';
                foregroundContext.drawImage(localVideo, 0, 0, foregroundCanvas.width, foregroundCanvas.height);
                foregroundContext.globalCompositeOperation = 'destination-in';
                foregroundContext.drawImage(results.segmentationMask, 0, 0, foregroundCanvas.width, foregroundCanvas.height);
            });

            const camera = new Camera(localVideo, {
                onFrame: async () => {
                    await selfieSegmentation.send({ image: localVideo });
                },
                width: 640,
                height: 480
            });
            camera.start();

            const peer = (window.peer = new Peer({ key: 'd92352d7-f023-416e-9b52-b982bd78fe3a', debug: 3 }));

            connectTrigger.addEventListener('click', () => {
                if (!peer.open) {
                    return;
                }

                const mediaConnection = peer.call(remoteId.value, localStream);
                mediaConnection.on('stream', async (stream) => {
                    remoteVideo.srcObject = stream;
                    remoteVideo.playsInline = true;
                    await remoteVideo.play().catch(console.error);
                });
                mediaConnection.once('close', () => {
                    remoteVideo.srcObject.getTracks().forEach(track => track.stop());
                    remoteVideo.srcObject = null;
                });
            });

            peer.once('open', (id) => {
                // Do nothing, as local ID is not needed in receiver
            });

            peer.on('call', (mediaConnection) => {
                mediaConnection.answer(localStream);
                mediaConnection.on('stream', async (stream) => {
                    remoteVideo.srcObject = stream;
                    remoteVideo.playsInline = true;
                    await remoteVideo.play().catch(console.error);
                });
                mediaConnection.once('close', () => {
                    remoteVideo.srcObject.getTracks().forEach(track => track.stop());
                    remoteVideo.srcObject = null;
                });
            });

            peer.on('error', console.error);

            // js-foreground-canvasのサイズをremote-streamと同期
            remoteVideo.addEventListener('loadedmetadata', () => {
                foregroundCanvas.width = remoteVideo.videoWidth;
                foregroundCanvas.height = remoteVideo.videoHeight;
            });

            // Printボタンのイベントリスナーを追加
            printTrigger.addEventListener('click', () => {
                // 新しいキャンバスを作成し、remote-streamとforeground-canvasをオーバーレイ
                const overlayCanvas = document.createElement('canvas');
                const overlayContext = overlayCanvas.getContext('2d');
                overlayCanvas.width = foregroundCanvas.width;
                overlayCanvas.height = foregroundCanvas.height;

                // remoteVideoのフレームをキャンバスに描画
                overlayContext.drawImage(remoteVideo, 0, 0, overlayCanvas.width, overlayCanvas.height);
                // foregroundCanvasの内容をキャンバスにオーバーレイ
                overlayContext.drawImage(foregroundCanvas, 0, 0, overlayCanvas.width, overlayCanvas.height);

                // 印刷直前に確認
                var result = window.confirm("印刷を開始します");
                if (!result) {
                    return
                }

                // キャンバスのデータURLを取得し、サーバに送信
                const dataURL = overlayCanvas.toDataURL('image/png');
                fetch('/upload', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ image: dataURL }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    alert('印刷完了しました')
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('印刷エラー')
                });
            });
        })();
    </script>
</body>
</html>
